/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* #Root Variables */
:root {
  --color-blue: #B8BBD3;
  --color-blue-variant: #003566;
  --color-gold: #FFC300;
  --color-gold-variant: #FFD60A;
  --color-background: #E7E7E7;
  --color-white: #ffffff;

  --card-border-radius: 2rem;
  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

h3 {
  font-size: 0.87rem;
  font-weight: 400;
}

h4 {
  font-size: 0.7rem;
  font-weight: 400;
}

h5 {
  font-size: 0.6rem;
  font-weight: 400;
}

.text-muted {
  color: var(--color-dark-variant);
}

p {
  color: var(--color-dark-variant);
}


/* #Landing page */



/* #Research */
.publications{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 95% 5%;
}
.publications .scroll{
  display: grid;
  grid-template-rows: 12% 88%;
}
.publications .scroll .cards {
  background: var(--color-background);
  width: 200%;
  height: 100%;
  display: flex;
  gap: 0.2rem;
}
.publications .scroll .cards img{
  height: 100%;
  cursor: pointer;
}
.publications .scroll .card{
  height: 100%;
  width: 100%;
  position: relative;
}
.publications .scroll .card .item{
  position: absolute;
  bottom: 0;
  left: 10px;
}
.publications .scroll .card img {
  width: 80%;
  height: auto;
  cursor: pointer;
}
.publications .navs{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.publications .navs .links, .display-options{
  display: flex;
  gap: 2rem;
  cursor: pointer;
}