/* #Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* #Root Variables */
:root {
  --color-blue: #B8BBD3;
  --color-blue-variant: #003566;
  --color-gold: #FFC300;
  --color-gold-variant: #FFD60A;
  --color-background: #E7E7E7;
  --color-white: #ffffff;

  --card-border-radius: 2rem;
  --borer-radius-1: 0.4rem;
  --borer-radius-2: 0.8rem;
  --borer-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* appearance: none; */
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.6rem;
}

.text-muted {
  color: var(--color-dark-variant);
}

p {
  color: var(--color-dark-variant);
}


/* #Landing page */
.landing-page{
  background: var(--color-blue);
  padding: 2rem 4rem;
  height: 80vh;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.landing-page .tab{

}
.landing-page .main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-page .main .copy h1{
  font-size: 2.5rem;
}
.landing-page .main .copy h2{
  font-size: 1.5rem;
}
.landing-page .main .image img{
  height: 80vh;
}

/* #Summary page */
.summarypage{
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.summarypage .left{
  background: #A08585;
  width: 100%;
}
.summarypage .middle{
  background: #E3C6A6;
}
.summarypage .right{
  background: #98BCC6;
}