@import '../../App.css';

.landing-page{
    
}
.landing-page .tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-page .tab .nav{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}
/* .landing-page .loaders{
    width: 80vw;
    height: 80vh;
    margin: 1rem;
    background-color: var(--color-primary-variant);
} */